{% load socialaccount %}
{% load static %}
<style>
.logout{
color:#FF7746;
}
    .logout:hover{
    color:#ffffff;
    background-color:#ff7746;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #232D3B;">
    <a class="navbar-brand" href="/">
        <img src="{% static 'images/cropped-Tech-With-TimXL-192x192.png' %}" width="66" height="66" alt="" class="rounded-circle">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-md-6" style="margin: 0 auto">
            {% comment %}
                        <li class="nav-item dropdown">
                <button class="btn text-white btn-outline-dark nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Challenges
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Weekly</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Monthly</a>
                </div>
            </li>
            {% endcomment %}

            <li class="nav-item">
                <a class="nav-link" href="{% url 'home:home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="{% url 'timathon:Home' %}">
                    Timathon
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Weekly Challenges</a>
            </li>

            <li class="nav-item">
                {% if is_staff %}
                    <a class="nav-link" href="{% url 'home:unreleased' %}">Unreleased</a>
                {% endif %}

            </li>
            {% if user.is_authenticated %}
                <li class="nav-item" style="position: absolute; right: 25px">
                    <a href="{% url 'home:logout' %}">
                        <button type="button" class="btn logout">
                            <img class="rounded-circle" src="{{ avatar_url }}" width="32" height="32" alt="">
                            Log out
                        </button>
                    </a>
                </li>
            {% else %}
                <li class="nav-item" style="position: absolute; right: 25px">
                    <a href="{% provider_login_url 'discord' %}">
                        <button type="button" class="btn btn-dark">
                            <img src="{% static 'images/discord.png' %}" height="32" width="32" alt="">
                            Log in
                        </button>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
	{% if messages %}
	<div class="row">
	<div class="col-sm-4 col-sm-offset-3" style="position: absolute; right: 0; top: 15px">
		{% for message in messages %}
		<div class="alert alert-{{ message.tags }} alert-text alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong class="alert-text">{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong>
			<p class="alert-text">{{ message }}</p>
		</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
