body {
    background: #2c2f33 !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #555;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
