.challenge-title{
    font-weight: normal;
    padding: 5px;
    margin-bottom: 15px;
}

.discord-embed{
    width: 350px;
    height: 500px;
}

.git-link{
    font-weight: bold;
    border-radius: 5px;
    background-color: #FF7746;
}

.git-link:hover {
    background-color: #dd673b;
}

.members-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width:auto;
    height:auto;
}

.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height:auto;
    margin: 5px;
}

.winners{
    background-color: #232D3B;
    padding: 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px 7px #0000002A;
    text-align: center;
}

.title{
    opacity: 0;
    transition: .2s ease;
}

.member:hover .title {
    transition: .2s ease;
    opacity:1;
}

.team {
    flex: 1;
}

@media screen and (max-width: 768px){
    .winners{
        display: flex;
        flex-direction: column;
    }

    .discord-embed{
        width: 100%;
    }
}
