{# Main landing page. #}
{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}

    <div class="jumbotron" style="margin-top: 2%; margin-left: 4%; margin-right: 4%">
        {% if current_challenge is None %}
            <h1 class="display-4 text-center">There is no active timathon right now</h1>
        {% else %}
            <h1 class="display-4">{{ current_challenge.title }}</h1>
            <div class="row" style="margin-right: 5px; margin-left: 5px; height: fit-content">
                <p class="lead" style="flex: 1">{{ current_challenge.short_desc }}</p>
                <div style="text-align: end; flex: 1">
                    <svg style="margin-right: 2px; margin-bottom: 2px;" height="20" width="20">
                        <circle cx="10" cy="10" r="8" fill="{% if current_challenge.status == 'NOT POSTED' %}grey{% elif current_challenge.status == 'RUNNING' %}green{% else %}red{% endif %}"></circle>
                    </svg>
                    {{ current_challenge.status.capitalize }}
                </div>
            </div>
            <hr class="my-4">
            <h5>Description</h5>
            <p class="">{{ current_challenge.description }}</p>
            <br>
            <h5>Rules</h5>
            <p class="">{{ current_challenge.rules }}</p>
            <br>
            <h4>Teams</h4>

            {% if teams %}
                <div class="card-group">
                    {% for team in teams %}
                        {% if not forloop.first %}<hr>{% endif %}
                        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                            <div class="card-header">Team {{ forloop.counter }}</div>
                            <div class="card-body text-info">
                                <h5 class="card-title text-white">Name</h5>
                                <p class="card-text text-white">{{ team.name }}</p>
                                <div style="padding-bottom: 10px;">
                                {% for member in team.discord_members %}
                                    <div class="team-member text-white">
                                        <img style="border-radius: 50%; width: 45px" src="{{ member.avatar_url }}" alt="pfp">
                                        <span>{{ member.username }}</span>
                                    </div>
                                {% endfor %}
                                </div>
                                <a href="{% url 'timathon:ViewTeams' team.ID %}" class="btn btn-light">View Team</a>

                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No teams registered for the code jam yet</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}