{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}

{% block stylesheets %}
<style>
.submission-view-container {
    color:#F9F9FA;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding:15px;
    transition: 0.3s;
    width: 30%;
    height: 100%;
    border-radius: 20px;
    background-color:#232D3B;
    text-align: center;
}

.title{
    opacity:0;
    transition: .2s ease;
}

.member {
    display: inline-block;
    text-align: center;
}

.member:hover .title {
    transition: .2s ease;
    opacity:1;
}

</style>
{% endblock %}

{% block title %}Code Jam Submission{% endblock %}
{% block content %}
    {% include "base/navbar.html" %}
    {% for submission in page_obj %}
        <br><div class="submission-view-container">
        <h2><b>{{ submission.team.name }}</b></h2><br>
        <p class="text-white" style="font-size: large;">{{submission.description}}</p><br>
        <a class="btn btn-dark" style="width: 20%; font-weight: bold; background-color: #FF7746;" href="{{ submission.github_link }}" title="{{ submission.github_link }}">GitHub</a><br><br>
        {% for team_member in submission.team.discord_members %}
            <div class="member">
            <img style="border-radius: 50%; width: 45px;" class="pfp" src="{{ team_member.avatar_url }}" alt="pfp">
            <p style="font-weight: large;" class="text-white title">{{ team_member.username }}</p>
            </div>
        {% endfor %}
        <a class="btn btn-dark" href="{% url "timathon:VoteTeam" submission.team.ID%}">Vote Testing NOT FINAL</a>
        </div>
    {% endfor %}

    <footer>
        {% block footer %}
    <div class="pagination">
    <span class="step-links text-white">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
        {% endblock %}
    </footer>
{% endblock %}
