{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}
{% load martortags %}

{% block stylesheets %}
     <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet"/>
    <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet"/>

{% endblock %}

{% block content %}
    {% include "base/navbar.html" %}
    <h3 class="text-white">{{ page.title }}</h3>
    <div class="card text-white mb-3"
                 style="margin-top: 10px; margin-bottom: 5px; margin-right: 10px; border-radius: 20px; background-color:#232D3B;">
                <div style="padding-left: 15px; padding-top: 10px; padding-right: 10px">{{ page.content | safe_markdown }}</div>
    </div>
{% endblock %}