{# Test view #}
{% extends 'base/base.html' %}

{% block content %}
    <div class="jumbotron" style="margin-top: 2%; margin-left: 4%; margin-right: 4%">
        <ul class="nav nav-pills flex-column flex-sm-row" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="flex-sm-fill text-sm-center nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="flex-sm-fill text-sm-center nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="flex-sm-fill text-sm-center nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
            </li>
            {% if is_mod %}
            <li class="nav-item" role="presentation">
                <a class="flex-sm-fill text-sm-center nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
            </li>
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">hello</div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">you</div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">beautiful</div>
            {% if is_mod %}
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">soul</div>
            {% endif %}
        </div>

        <script>
            $(function () {
                $('#myTab li:last-child a').tab('show')
            })
        </script>
    </div>

{% endblock %}