{% extends 'base/base.html' %}
{% load socialaccount %}
{% load static %}

{% block title %}Logout{% endblock %}
{% block content %}
    {% include 'base/navbar.html' %}

    <form method="post">
        {% csrf_token %}
        <div class="jumbotron" style="margin-top: 2%; margin-left: 4%; margin-right: 4%">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ challenge.title }}</h1>
                    <div class="card-text text-muted">{{ challenge.short_desc }}</div>
                    <hr class="my-4">
                    <div class="card-text">{{ challenge.description }}</div>
                    <hr class="my-4">
                    <div class="card-text">{{ challenge.rules }}</div>
                </div>
            </div>
            <br>
            {% if challenge.active %}
                <button class="btn btn-primary btn-lg">Submit</button>
            {% else %}
                <button class="btn btn-primary btn-lg" disabled>Submit</button>
            {% endif %}
            {% if is_mod %}
                {% if challenge.active %}
                    <button class="btn btn-danger btn-lg float-right" formaction="{% url 'home:end' challenge.id %}">End</button>
                {% else %}   {# TODO: These views. Only POST. #}
                    <button class="btn btn-success btn-lg float-right" formaction="{% url 'home:start' challenge.id %}">Start</button>
                {% endif %}
            {% endif %}
            <br>
            {% if challenge.active %}
                <p class="text-muted">Submit your solution.</p>
            {% else %}
                {% if challenge.ended %}
                    <p class="text-muted">This challenge has ended, you cannot submit any more solutions.</p>
                {% else %}
                    <p class="text-muted">This challenge has not started, wait for an admin to start it.</p>
                {% endif %}
            {% endif %}
        </div>
    </form>

{% endblock %}


